<!-- Footer -->
<div class="footer">
    <hr>
    <small><a href="#">Company Info</a> · <a href="#">Privacy Policy</a> · <a href="#">Terms of Service</a></small><br>
    <small>&copy; 2024 Solidity Ultimate Championship. All rights reserved.</small>
</div>
