<!-- Logo and Header -->
<a href="/"><img width="638" height="53" src="/images/header-logo.gif" alt="Acorn SH Logo"></a>

<!-- Message Section -->
<div class="info-section">
    <div class="info-item">
        <a href="../pages/download-page"><img src="/images/new.gif" height="11" width="56" alt="new"><b>acorn sh app</b></a><br>macOS, Windows, Linux
    </div>
    <div class="info-item">
        <a href="#"><img width="230" height="33" src="/images/message.png" alt="Download"></a>
    </div>
    <div class="info-item">
        <a href="/pages/login"><b>log in/sign up</b></a><br>members only
    </div>
</div>

<!-- Search Bar -->
<div class="search-bar">
    <input size="30" name="p" placeholder="Search...">
    <input type="submit" value="Search">
</div>

<div class="links-section">
    <small><b>Quick links:</b> · <a href="/pages/quick-start">Quickstart</a> · <a href="/pages/tutorials">Tutorials</a> · <a href="/files/Acorn_Validator.pdf" target="_blank">Whitepaper</a> · <a href="/pages/careers">Careers</a> · </small>
</div>
