<!-- Right Column-->
<div class="right-column">
    <div class="focus-section">
        <div class="section-title">Problems</div>
        <div class="section-title-text">
            <ul>
                <div>
                    <li>
                        <div class="number">1.</div>
                        <div class="text"><a href="#">Token Transfer</a></div>
                        <div class="score">1</div>
                    </li>
                    <li>
                        <div class="number">1.</div>
                        <div class="text"><a href="#">Token Transfer Transfer Transfer</a></div>
                        <div class="score">99</div>
                    </li>
                    <li><a href="#">3. Allowance</a></li>
                    <li><a href="#">4. Time-Lock</a></li>
                    <li><a href="#">5. Crowdsale</a></li>
                    <li><a href="#">6. Ownership</a></li>
                    <li><a href="#">7. Voting</a></li>
                    <li><a href="#">8. Escrow</a></li>
                    <li><a href="#">9. SafeMath</a></li>
                    <li><a href="#">10. Multi-Signature</a></li>
                    <li><a href="#">11. Self-Destruct</a></li>
                </div>
            </ul>
        </div>

    </div>
</div>
