<!-- Right Column-->
<div class="right-column">
    <div class="focus-section">
        <div class="section-title">Leader Board</div>
        <div class="section-title-text">
            <ul>
                <div>
                    <li>
                        <div class="number">1.</div>
                        <div class="text"><a href="#">Vitalik.eth</a></div>
                        <div class="score">1/99</div>
                    </li>
                    <li>
                        <div class="number">2.</div>
                        <div class="text"><a href="#">0xDf6e59c6DF1E9500fd35A76FF4C62F9901E90019</a></div>
                        <div class="score">12/99</div>
                    </li>
                    <li>
                        <div class="number">3.</div>
                        <div class="text"><a href="#">Hotfive.eth</a></div>
                        <div class="score">10/99</div>
                    </li>
                    <li>
                        <div class="number">4.</div>
                        <div class="text"><a href="#">0x59c6DF1E9500fd35A59c6DF1E9500fd35A</a></div>
                        <div class="score">00/99</div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>
