<%- include('../layout', { 
    content: `
    <link rel="stylesheet" href="/css/inner-styles.css">

    <main class="new-project-page">
        <h1>Quick start</h1>
        <p>Multi platform easy to use client. Please install docker and make sure it is running.</p>
        <br>
        <div class="new-project-options">
            <img src="https://via.placeholder.com/640x150.png" width="640" height="150" alt="new">

        </div>
    </main>
    ` 
  }) %>
  